/* body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;

}

.card{
  max-width: 20%;
  padding:3%;
  margin:5%;
}

.img{
  max-width:100%;

} */